.heading {
  font-family: "Franklin Gothic Book";
  font-size: 40px;
  font-weight: 800;
  text-align: Left;
  margin-top: 30px;
  margin-bottom: 30px;
}
.all {
  object-fit: cover;
  background: rgb(255, 255, 255);
  background: radial-gradient(
    circle,
    rgba(255, 255, 255, 1) 50%,
    rgba(178, 178, 178, 1) 100%
  );
  background-position: center;
}
