.imgcenter img {
  margin: auto;
  transition: ease-in-out 0.5s;
}
.imgcenter img:hover {
  /* box-shadow: 0px 0px 10px crimson; */
  transform: scale(1.2, 1.2);
}
.cartTitlecenter {
  text-align: center;
}
