.navi {
  z-index: 999;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

nav.mobile-open + #portfolio {
  padding-top: 70px; /* Výška navigační lišty */
}
#portfolio {
  transition: padding-top 0.3s ease;
}

.true {
  transition: 1s;
  background-color: white;
  border-bottom-left-radius: 20px;
  border-end-end-radius: 20px;
  /* border: 2px solid rgb(0, 0, 0); */
  border-bottom: 2px solid black;
  border-left: 2px solid black;
  border-right: 2px solid black;
}
.true:active {
  font-weight: 800;
}
/* .scrolled {
  transition-delay: 2s;
  color: #ffcc00;
  font-weight: 600;
  
}
.scrolled:hover {
  transition-delay: 0.25s;
  color: #00ff37;
  font-weight: 600;
}
.scrolled2 {
  transition-delay: 2.2s;
  color: #ffcc00;
  font-weight: 600;
}
.scrolled2:hover {
  transition-delay: 0.25s;
  color: #00ff37;
  font-weight: 600;
}
.scrolled3 {
  transition-delay: 2.4s;
  color: #ffcc00;
  font-weight: 600;
}
.scrolled3:hover {
  transition-delay: 0.25s;
  color: #00ff37;
  font-weight: 600;
}
.scrolled4 {
  transition-delay: 2.6s;
  color: #ffcc00;
  font-weight: 600;
}
.scrolled4:hover {
  transition-delay: 0.25s;
  color: #00ff37;
  font-weight: 600;
} */
.navbar-nav {
  margin-left: auto;
}
.nav-item {
  margin: auto 15px;
}
.navbar-toggler:focus {
  box-shadow: none;
}

#custom-toggler {
  padding: 10;
  background-color: transparent;
  border: 0;
}
.toggler-image img {
  width: 40px; /* Upravte velikost obrázků podle potřeby */
  height: 40px;
}
.toggler-image {
  transition: transform 0.5s;
}

.rotate {
  transform: rotate(180deg);
}
