@font-face {
  font-family: "Franklin Gothic Book";
  src: url("fonts/Franklin\ Gothic\ Book\ Regular.ttf");
}
.navi {
  font-family: "Franklin Gothic Book";
  z-index: 999;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

/* nav.mobile-open + #portfolio {
  padding-top: 70px; /* Výška navigační lišty */
/* } */
#portfolio {
  transition: padding-top 0.3s ease;
}

.true {
  transition: 1s;
  background-color: white;
  border-bottom-left-radius: 20px;
  border-end-end-radius: 20px;
  /* border: 2px solid rgb(0, 0, 0); */

  border-bottom: 2px solid black;
  border-left: 2px solid black;
  border-right: 2px solid black;
}
/* .true:active {
  font-weight: 800;
} */
.items {
  font-weight: 600;
  cursor: pointer;
  text-decoration: none;
  color: black;
}
.items.active {
  font-weight: 600;
  /* color: yellow; */
  color: black;
  margin-bottom: 20px;
  border-bottom: 4px solid #ffcc00;
  border-radius: 10%;
  /* text-decoration: underline; */
}
@media (hover: hover) {
  .items:hover {
    font-weight: 600;
    /* color: yellow; */
    border-bottom: 4px solid rgb(0, 0, 0);
    border-radius: 10%;
  }
}
.navbar-nav {
  margin-left: auto;
}
.nav-item {
  margin: auto 15px;
}
.navbar-toggler:focus {
  box-shadow: none;
}

#custom-toggler {
  padding: 10;
  background-color: transparent;
  border: 0;
}
.toggler-image img {
  width: 40px; /* Upravte velikost obrázků podle potřeby */
  height: 40px;
}
.toggler-image {
  transition: transform 0.5s;
}

.rotate {
  transform: rotate(180deg);
}
