.thumbnail-container {
  position: relative;
}

.thumbnail-overlay {
  position: absolute;
  bottom: -10px;
  right: 0;
  padding: 4px;
  font-size: 20px;
  transition: opacity 0.2s ease-in-out;
  z-index: 10;
}

.thumbnail-container:hover .thumbnail-img {
  transform: scale(1.3, 1.3);
  z-index: 100;
  position: relative;
}

.thumbnail-container:hover .thumbnail-overlay {
  /* opacity: 0; */
  visibility: hidden;
}

.odskok {
  margin-left: auto;
  /* border: 2px solid green; */
  text-align: right;
}
.odskok img {
  transition: ease-in-out 0.2s;
  margin: 6px;
  border-radius: 10px;
  z-index: 5;
}
.odskok img:hover {
  cursor: pointer;
  transform: scale(1.3, 1.3);
  filter: grayscale(0);
  z-index: 20;
}
ul.subtitles li p {
  margin-bottom: 0;
  line-height: 5px;
}
.headingTitle {
  margin-bottom: 15px;
  font-size: 22px;
  font-weight: 600;
}
.subtitle-gallery {
  margin-top: 15px;
}
.kurziva {
  font-style: italic;
}
.noGutter {
  --bs-gutter-x: 0;
}
.noGutter .heading {
  padding-left: 12px;
}
.noGutter .vyber {
  padding-left: 12px;
  margin-top: -13px;
  margin-bottom: 20px;
}
.oooo {
  margin-left: 20px;
}
@media only screen and (max-width: 768px) {
  .oooo {
    margin-left: 0;
  }
}
